input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdi.mdi-lg {
	font-size: 36px;
}

.actbtn {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}